name: PR Tests

on:
  pull_request:

concurrency:
  group: pr-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  build-check:
    uses: Shane32/SharedWorkflows/.github/workflows/build-check.yml@v2
    with:
      dotnet_folder: '.'
      spa_folder: ReactApp
      analysis_artifacts: ReactApp/stats.html
