name: Publish release

on:
  release:
    types:
      - published

jobs:
  publish:
    uses: Shane32/SharedWorkflows/.github/workflows/publish-app.yml@v2
    permissions:
      contents: write
      id-token: write
    with:
      dotnet_folder: AppServer
      spa_folder: ReactApp
      spa_deployment_method: azure-webapp
      environment_name: Production
      persisted_documents_file: ReactApp/src/gql/persisted-documents.json
      analysis_artifacts: ReactApp/stats.html
